.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 15fr;
}

.header {
  grid-row-start: 1;
  background: cornflowerblue;
  text-align: center;
  font-size: 50px;
}

.library {
  grid-row-start: 2;
  display: flex;
  gap: 10px;
}

.bookcontainer {
  background-color: aqua;
  height: 100px;
  width: 50px;
}
