* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 15fr;
}

.header {
  grid-row-start: 1;
  background: cornflowerblue;
  text-align: center;
  font-size: 50px;
}

.library {
  margin: 10px;
  grid-row-start: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 15px;
}

.bookcontainer {
  background-color: aqua;
  height: 200px;
  width: 150px;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #1e4825;
}
